strong,
h1,
h2,
h3,
.card-body > .card-title {
  font-family: "Roboto";
  font-size: 24px;
}

.navbar-brand {
    width: 100%;
    height: 100%;
    margin-right: 2rem;
    max-width: 3rem;
}

.site-footer {
  position: fixed;
  margin-top: 2rem;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4rem;
  padding-top: 1.2rem;
  padding-left: 3rem;
  background-color: #dfffff;
}

.searchBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.searchRow {
  display: block;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  width: auto;
}

.searchRow:hover, #search:hover {
  border: 1px solid mediumslateblue;
}

#textIntro, #aboutText, #searchContainer {
  display: block;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  width: auto;
}

#filter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  width: 18rem;
  border: 2px solid teal;
}

#kermits404 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35rem;
}


