strong,
h1,
h2,
h3,
.card-body > .card-title {
  font-family: "Roboto";
  font-size: 24px;
}

.navbar-brand {
    width: 100%;
    height: 100%;
    margin-right: 2rem;
    max-width: 3rem;
}

.site-card {
  padding: 0;
}

.site-footer {
  position: fixed;
  margin-top: 2rem;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4rem;
  padding-top: 1.2rem;
  padding-left: 3rem;
  background-color: #dfffff;
}


