strong,
h1,
h2,
h3,
.card-body > .card-title {
  font-family: "Roboto";
  font-size: 24px;
}

.navbar-brand {
  width: 100%;
  height: 100%;
  margin-right: 2rem;
  max-width: 3rem;
}

.appTitle {
  font-family: "Noto Sans";
}

.site-footer {
  position: fixed;
  margin-top: 2rem;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4rem;
  padding-top: 1.2rem;
  padding-left: 3rem;
  background-color: #dfffff;
}

.searchBtnContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.searchBtn {
  width: calc(1% + 200px);
  appearance: none;
  background-color: #3eb2fd;
  background-image: linear-gradient(1deg, #4f58fd, #149bf3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: CircularStd, sans-serif;
  font-size: 1rem;
  height: auto;
  line-height: 1.5;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s, background-position 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.searchBtn:active,
.searchBtn:focus {
  outline: none;
}

.searchBtn:hover {
  background-position: -20px -20px;
}

.searchBtn:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 0.125em;
}

.searchRow {
  display: block;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  width: auto;
}

.searchRow:hover,
#search:hover {
  border: 1px solid mediumslateblue;
}

#textIntro,
#aboutText {
  display: block;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  width: auto;
}

#searchContainer {
  margin-left: auto;
  margin-right: auto;
  width: calc(50% + 100px);
}

#filter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  width: 18rem;
  border: 2px solid teal;
}

#kermits404 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35rem;
}

.error-message {
  color: red; /* Change the text color */
  background-color: #f8d7da; /* Optional: Change the background color */
  padding: 5px; /* Optional: Add some padding */
  border-radius: 3px; /* Optional: Round the corners */
}
